section.aboutGradient {
    @extend .mainGradient;
    width: 100%;
    padding: 100px 0;
    .aboutContent {
        @extend .wrapper;
        @include flexDirect(row);
        margin: 0 auto;
        padding: 50px 0;
        h3 {
            margin: 20px 0 0 40px;
            padding-top:20px;
        }
        p {
            font-size: 0.8rem;
            color: $grey;
            line-height: 1.4rem;
            margin: 10px 40px;
        }
        .button {
            border-color: $purple;
            color: $purple;
            font-family: $bodyFont;
            font-size: 1rem;
            margin-left: 30px;
        }
    }
}

.aboutLeft {
    width: 40%;
    .profileImg,.socialIcons {
        width: 60%;
        margin: 0 auto;
    }
}

.socialIcons {
    padding: 20px;
    @include flexDirect(row);
    @include flexJustify(space-around);
    a {
        text-decoration: none;
    }
}

.aboutRight {
    background: $mauve;
    width:60%;
}

.logoRow {
    @include flexDirect(row);
    align-items: center;
    margin-left: 40px;
    margin-bottom:20px;
    .logoIcon {
        width: 30px;
        margin-right:15px;
        img {
            width: 150%;
        }
    }
    .logoIcon2 {
        width: 40px;
        margin-right:15px;
        img {
            width:150%;
        }
    }
}

