section.aboutGradient {
    @extend .mainGradient;
    width: 100%;
    display: inline-block;
    .aboutText {
        margin: 0px auto;
        margin-top:140px;
        @extend .wrapper;
        width: 90%;
        float:right;
        background: $mauve;
        height: 80vh;
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        h3 {
            margin: 20px 0 0 40px;
            padding-top:20px;
        }
        p {
            font-size: 0.8rem;
            color: $grey;
            line-height: 1.4rem;
            margin: 10px 40px;
        }
        .button {
            border-color: $purple;
            color: $purple;
            font-family: $bodyFont;
            font-size: 1rem;
            margin-left: 30px;
        }
    }
}

div.textTriangle {
    shape-outside: polygon(90% 0%, 100% 0, 0 80%, 0 70%);
    width: 100%;
    height: 100vh;
    float: right;
}

.logoRow {
    @include flexDirect(row);
    align-items: center;
    margin-left: 40px;
    margin-bottom:20px;
    .logoIcon {
        width: 40px;
        margin-right:15px;
        img {
            width: 150%;
        }
    }
    .logoIcon2 {
        width: 60px;
        margin-right:15px;
        img {
            width:150%;
        }
    }
}

.aboutInfo {
    @extend .wrapper;
    width: 50%;
    margin-right: 80px;
    height: 50px;
    position: relative;
    bottom: 200px;
    float:right;
    .socialInfo {
        margin-top: 10px;
        .h3 {
            margin: 20px auto;
        }
    }
    .socialIcons {
        margin-top: 20px;
        @include flexDirect(row);
        @include flexJustify(left);
        .circle {
            @include circle(40px);
            @include centerMost;
            background: $mauve;
            margin: 0 10px;
        }
    }

    .profileImg {
        width: 50%;
        float: right;
        position: relative;
        bottom: 400px;
    }
}

i.fa {
    color: $purple;
}

.spacerRow {
    height: 100px;
    width: 100%;
    display:inline-block;
}