div.contactBgWhite {
    @extend .bgWhite;
    margin: 50px;
}
div.contact {
    @include flexDirect(row);
    color: $purple;
    font-weight: lighter;
    font-family: $primaryFont;
    p.ctaText{
        font-family: $primaryFont;
        font-size: 1rem;
        font-style: italic;
        margin: 10px auto;
    }
}

form {
    input {
        border: 1px solid $purple;
    }
    textarea {
        border: 1px solid $purple;
    }
    input.col-2 {
        width: 42%;
        margin: 5px;
        height: 20px;
        padding: 5px;
    }
    input[type=text] {
        float: left;
    }
    input[type=email] {
        float: right;
    }
    textarea.full {
        width: 95%;
        margin: 5px;
        height: 100px;
        padding: 5px;
    }
}

button.button {
    background: transparent;
    border: 1px solid $purple;
    color: $purple;
    padding: 5px 10px;
    margin: 0 5px 0 5px;
}