section.contactBgWhite {
    @extend .bgWhite;
    width: 100%;
}

ul.socialIcons {
    padding: 20px 0px;
    padding-top:30px;
    @include flexDirect(row);
    justify-content: center;
    li {
        margin:0;
        margin-right: 40px;
    }
    a {
        text-decoration: none;
    }
}

div.contact {
    padding: 75px 0px;
    @extend .wrapper;
    @include flexDirect(column);
    justify-content: center;
    margin: 0 auto;
    color: $purple;
    font-weight: lighter;
    font-family: $primaryFont;
        text-align: center;
    h3 {
        font-weight: lighter;
        margin: 10px auto;
        margin-top:20px;
    }
    p.ctaText{
        font-family: $primaryFont;
        font-size: 1rem;
        font-style: italic;
        margin: 20px auto;
        margin-bottom:20px;
    }
}

form {
    padding: 50px;
    background: $purple;
    @include flexDirect(column);
    margin: 25px auto 0px auto;
    width: 70%;
    input {
        border: 1px solid $mauve;
        background: transparent;
        color: $mauve;
        padding: 15px;
        &::placeholder {
            color: $mauve;
        }
    }
    textarea {
        @extend input;
        resize: none;
        height: 100px;
        width: 100%;
        overflow: hidden;
        margin: 25px auto 0px auto;
    }
    .info {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .input {
            width: 43%;
        }
    }
}

button.button {
    background: transparent;
    border: 1px solid $mauve;
    color: $mauve;
    padding: 15px 60px;
    margin: 25px auto 0px auto;
    transition: all 0.5s ease 0s;
    &:hover {
        color: $purple;
        background-color: $mauve;
    }
}