section.contactBgWhite {
    @extend .bgWhite;
    width: 100%;
}

ul.socialIcons {
    padding: 20px 0px;
    padding-top:30px;
    @include flexDirect(row);
    justify-content: center;
    li {
        margin:0;
        margin-right: 40px;
    }
    a {
        text-decoration: none;
    }
}

div.contact {
    padding: 75px 0px;
    @extend .wrapper;
    @include flexDirect(column);
    justify-content: center;
    margin: 0 auto;
    color: $purple;
    font-weight: lighter;
    font-family: $primaryFont;
        text-align: center;
    h3 {
        font-weight: lighter;
        margin: 10px auto;
        margin-top:20px;
    }
    p.ctaText{
        font-family: $primaryFont;
        font-size: 1rem;
        font-style: italic;
        margin: 20px auto;
        margin-bottom:20px;
    }
}

form {
    padding: 50px;
    background: $mauve;
    @include flexDirect(column);
    margin: 25px auto 0px auto;
    width: 70%;
    color: $purple;
    // layout
    ul.contact, ul.message {
        @include flexDirect(row);
        justify-content: flex-start;
        li {
            list-style-type: none;
            @include flexDirect(row);
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
        }
    }
    ul.contact li {
        width: 50%;
        align-items: flex-end;
    }
    ul.message {
        margin-top: 20px;
    }
    ul.message li {
        width: 100%;
    }
    i.fa {
        padding-right: 10px;
    }
    // input styling
    input, textarea {
        background: transparent;
        padding: 5px;
        color: $purple;
        width: 100%;
    }
    input:focus, textarea:focus {
        outline: none;
    }
    input {
        border: none;
        border-bottom: 1px solid $purple;
    }
    textarea {
        resize: none;
        overflow: hidden;
        border: 1px solid $purple;
        align-self: flex-end;
    }
}

button.button {
    background: transparent;
    border: 1px solid $mauve;
    color: $mauve;
    padding: 15px 60px;
    margin: 25px auto 0px auto;
    transition: all 0.5s ease 0s;
    &:hover {
        color: $purple;
        background-color: $mauve;
    }
}