// NAVIGATION

nav {
    width: 100%;
    margin: 50px auto;
}

.navPositioning {
        width: 80%;
        @include flexDirect(row);
        @include flexJustify(space-between);
        align-content: center;
        align-items: center;
        margin: 0 auto;
        z-index:20;
}

.navLogo {
    @include circle(70px);
    @include centerMost;
    background-color: rgba(255,255,255,0.5);
    img {
        width: 80%;
        margin: 0 auto;

    }
}

ul {
    list-style: none;
    margin:0;
    padding:0;
    @include flexDirect(row);
    li {
        margin: 0 20px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

a.button {
    margin: 20px;
    padding: 5px 15px;
    border: 1px solid $white;
}

// HEADER

.mainGradient {
    background: linear-gradient(320deg, #eb9687,#00a28a,#352e45);
    background-size: 600% 600%;

    -webkit-animation: gradientAnimate 20s ease infinite;
    -moz-animation: gradientAnimate 20s ease infinite;
    animation: gradientAnimate 20s ease infinite;

    @-webkit-keyframes gradientAnimate {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    @-moz-keyframes gradientAnimate {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    @keyframes gradientAnimate { 
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
}

.intro {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    @include flexDirect(column);
    @include flexJustify(center);
    align-content: center;
    align-items: center;
    h1 {
        margin: 15px auto;
        text-align: center;
        font-size: 3rem;
    }
    h2 {
        margin: 10px auto;
        font-size: 1rem;
    }
}

.logo {
    width: 25%;
}