/* Larger Devices, Desktops */
    @media only screen and (max-width : 1200px) {
        // portfolio buttons
        
    }

/* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        // portfolio buttons
        
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        // portfolio positioning
        ul.projectGallery li.project div.projectInfo {
            width:80%;
            margin-top: 190px;
            margin-left: 20px;
            padding: 50px;
            padding-top:80px;
        }
        ul.projectGallery li.project div.projectImg {
            top:0;
            left:0;
            width:80%;
        }
        
        // portfolio buttons
        

        // about section
        .profileInfo {
            width: 70%;
            left: -15%;
            top:-5%;
        }

        .aboutText {
            margin-left:25%;
            margin-right:4%;
            h3.dark {
                font-size:1.8rem;
            }
        }

        .logoRow {
            margin-left:0px;
        }

        // contact form
        

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        // portfolio buttons
        
    }