// MIXINS
@mixin flex {
	display:flex;
}

@mixin centerMost {
		@include flex;
		justify-content:center;
        align-items: center;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin circle($size) {
    width: $size;
    height: $size;
    @include borderRadius(50%);
}

@mixin flexDirect($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexJustify ($spacing) {
    justify-content: $spacing;
}

@mixin textAlign($alignment) {
    text-align: $alignment;
}