// portfolio
.projectSection {
    @extend .row;
    margin: 75px auto;
    text-align: center;
    h3 {
        text-align: center;
        margin: 20px auto;
    }
    ul {
        @include flexDirect(row);
        @include flexJustify(space-between);
        @extend .wrapper;
        margin: 0px auto;
    }
}

nav.projects {
    margin: 30px auto;
}

ul.projectGallery {
    margin: 40px auto;
    display: block;
    @extend .wrapper;
}

li.project {
    width: 100%;
    .projectInfo {
        color: $purple;
        text-align:right;
        height:inherit;
        background: $white;
        padding: 20px;
        width: 80%;
        h4 {
            @extend h1;
            font-size: 1.2rem;
        }
        p.languages {
            font-size: 0.8rem;
        }
        .links {
            a {
                margin-top: 15px;
                margin-right: 10px;
                font-size: 0.8rem;
                border-bottom: 1px solid transparent;
                transition: all 0.5s ease 0s;
                &:hover {
                    border-bottom: 1px solid $purple;
                }
            }
        }
    }
}